td.automatic-actions-list {
    border-width: 0px !important;
}

td a.automatic-actions-dropdown-menu i {
    color: #333 !important;
}

.same-category-header {
    display: block;
    padding-left: 3px;
    color: #ffffff;
}

.same-actions {
    margin-top: 5px;
    padding: 3px 0px 3px 5px;
    font-size: 1.2em;
    background-color: #BEBEBE;
}

.same-actions-first {
    margin-top: 0px !important;
}

.same-events {
    margin-left: 10px;
    padding: 2px 0px 2px 5px;
    font-size: 1.0em;
    background-color: #D3D3D3;
    border-bottom: 1px dotted;
}

.actions-toggle-icon{
    width: 18px;
}

.current-automatic-action {
    margin-left: 20px;
    padding: 0.5em 3px;
    text-align: left;
    font-weight: bold;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #eee;
    background: #fbfbfb
}

.current-automatic-action-params{
    margin-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #eee;
}

ul.automatic-actions-params{
    padding-left: 4px;
}

li.automatic-actions-params{
    margin-left: 20px;
}
